<div class="homepage-googleMap">
    <div id='map'></div>
    <div class="footerBorder"></div>
</div>

<div class="memories">
    <div class="memoriesBackground"></div>
    <div class="memoriesContent">
        <div class="socialMediaIcons">
            <a href="https://twitter.com/gymwithus" target="_blank"><img src="{{ paths.theme }}/assets/img/twitter_icon.svg" alt="twitter icon"></a>
            <a href="https://facebook.com/thecreativitygym" target="_blank"><img src="{{ paths.theme }}/assets/img/facebook_icon.svg" alt="facebook icon"></a>
        </div>
        <p>Memories from the last <a href="/events"><span>events</span></a></p>
    </div>
</div>
<footer>
    <!-- Begin MailChimp Signup Form -->
      <form role="form" class="footer-mailchimp" action="http://thomasmore.us7.list-manage1.com/subscribe/post?u=2481da086e218c05ba1b6092a&amp;id=a42d4c81dc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" >
              <input placeholder="you@gymwithus.be" class="mailchimp-input" type="email" required= class="" value="" name="EMAIL" id="mce-EMAIL">


              <input class="mailchimp-btnSubmit" type="submit" value="Mis geen enkel event" name="subscribe">

      </form>
      <!--End mc_embed_signup-->
    <div class="footer-partnerLogos">
    <a href="http://www.weareimd.be" title="Interactive Multimedia Design Mechelen" class="partnerLogo-item">
        <img src="{{ paths.theme }}/assets/images/logo.svg"/>
    </a>

    <a href="http://www.thomasmore.be/interactive-multimedia-design-imd" title="Thomas More Hogeschool Mechelen" class="partnerLogo-item">
        <img src="{{ paths.theme }}/assets/images/tmoreLogo.svg"/>
    </a>
    <a href="http://www.designosource.be" title="Deze site werd gebouwd door Designosource" class="partnerLogo-item">
        <img src="{{ paths.theme }}/assets/images/logo-designosource.svg"/>
    </a>
    <a href="http://www.code-master.be" title="Deze site werd ontworpen door Codemaster" class="partnerLogo-item">
        <img src="{{ paths.theme }}/assets/images/logo-codemaster.svg"/>
    </a>
    </div>
</footer>
